extends docwrap


append config
	- var keywords = ''
	- var description = ''
	- var page = 'conditions'
	- var title = 0

block style
	
block content
	.conditions-title
		h2 ข้อกำหนดและเงื่อนไข
		a(href="profile.html" class="backhome")
			i(class="fa fa-home")
	.conditions-body
		.container
			ul
				li 1. ผู้มีสิทธิ์ร่วมกิจกรรมและได้รับของรางวัลจะต้องเป็นเพื่อนกับ GH Bank LINE Official Account และจะต้องคงสถานะการเป็นเพื่อน (ไม่บล็อก) ตลอดกิจกรรม และต้องทำการลงทะเบียนเป็นสมาชิกผ่านทางระบบด้วยชื่อ – นามสกุลและข้อมูลจริงเท่านั้น เพื่อใช้ในการยืนยันสิทธิ์การรับของรางวัล การจัดส่งของรางวัลและการสะสมคะแนน
				li 2. การลงทะเบียนเข้าร่วมกิจกรรม ถือเป็นการยอมรับกฎกติกาการร่วมกิจกรรมทั้งหมด หากปรากฏในภายหลังว่า ชื่อ – นามสกุลและข้อมูลไม่ตรงตามความเป็นจริง ธนาคารฯ ขอสงวนสิทธิ์ในการตัดสิทธิ์การรับของรางวัลในทุกกรณี โดยไม่สามารถโต้แย้งได้ในภายหลัง ทั้งนี้ข้อมูลในการลงทะเบียนเข้าร่วมกิจกรรม ธนาคารฯจะจัดเก็บข้อมูลไว้เป็นความลับและจะไม่เปิดเผยต่อสาธารณะ
				li 3. กำหนดระยะเวลาการเริ่มสะสมคะแนน ระหว่างวันที่ 1 – วันสุดท้ายของเดือนและจะทำการรีเซ็ตคะแนนใหม่เป็น 0 ทุกวันที่ 1 ในเดือนถัดไป ทั้งนี้การประกาศผลผู้โชคดีในแต่ละเดือน จะทำการประกาศผลทุกวันที่ 5 ของเดือนถัดไปเช่นกัน (ประกาศรายชื่อผู้ได้รับรางวัลผ่านทางหน้า Timeline ของ LINE Official Account: GH Bank)
				li 4. กรณีผู้เล่นได้รับรางวัลมากกว่า 1 รางวัล ธนาคารฯ ขอสงวนสิทธิ์ในการมอบของรางวัลมูลค่าสูงสุดเพียง 1 รางวัลต่อการเข้าร่วมกิจกรรมในแต่ละครั้งเท่านั้น 
				li 5. ผู้โชคดีประจำสัปดาห์ ธนาคารฯ จะจัดส่งของรางวัลทางไปรษณีย์ภายใน 30 - 45 วันทำการนับตั้งแต่ได้รับข้อมูลยืนยันจากผู้โชคดีครบถ้วนแล้วภายใน 10 วันหลังมีการประกาศผลผ่านหน้ากิจกรรมอย่างเป็นทางการธนาคารฯ ขอสงวนสิทธิ์ในการตัดสิทธิ์ผู้โชคดีที่ไม่สามารถยืนยันสิทธิ์การรับของรางวัลได้ภายในระยะเวลาที่ธนาคารฯกำหนด และจะทำการเลือกผู้โชคดีในลำดับถัดไปขึ้นมาทดแทนทันที
	.condition-foot
		form
			.box
				input(type="radio" id="accept" name="confirm" checked)
				span.radio
				label(for="accept") ยอมรับ
			.box
				input(type="radio" id="refuse" name="confirm")
				span.radio
				label(for="refuse") ไม่ยอมรับ
			button(type="submit" class="btn") ยืนยัน
		
					
block script


