extends docwrap


append config
	- var keywords = ''
	- var description = ''
	- var page = 'lucky'
	- var title = 0

block style
	
block content
	.container
		.lucky-wrap
			.lucky-title
				h2 ประกาศรายชื่อผู้โชคดี
				h3 ประจำเดือน ธันวาคม 2561
			.reward
				ul
					li
						img(src="../assets/images/ipad.png", alt="")
					li
						.text
							h5 IPAD Pro 2019
							p มูลค่า 57,600 บาท
							p (จำนวน 1 รางวัล)
			.announce
				table
					tr
						td 1
						td
							img(src="../assets/images/icon-1.png", alt="")
						td วลีพร วสิกรัตน์
					tr
						td 
						td
							img(src="../assets/images/icon-2.png", alt="")
						td ชลบุรี
					tr
						td 
						td
							img(src="../assets/images/icon-3.png", alt="")
						td 089-833-54xx

		
					
block script


