.conditions {
	position: relative;
	.header,
	.fixed-menu {display: none;}
	.conditions-title {
		position: absolute;
		top: 0;
		background: $white;
		width: 100%;
	    text-align: center;
	    font-size: 22px;
	    padding: 10px 0;
	    @include breakpoint(mobile) {position: fixed;}
	    h2 {color: $main;}
	    a {
	    	position: absolute;
	    	display: block;
	    	font-size: 38px;
	    	color: $main;
	    	right: 18px;
	    	top: 10px;
	    }
	}
	.conditions-body {
		overflow: scroll;
		height: 736px;
		@include breakpoint(mobile) {height: auto;}
		ul {
			margin: 50px 0 100px;
			li {
				font-size: 16px;
				margin-bottom: 10px;
			}
		}
	}
	.condition-foot {
		position: absolute;
		bottom: 0;
		width: 100%;
		background: $white;
		padding: 20px 0;
		@include breakpoint(mobile) {position: fixed;}
		form {
			text-align: center;
			input[type="radio"] {display: none;}
			.box {
				display: inline-block;
				margin: 0 20px;
			}
			.radio {
				width: 20px;
				height: 20px;
				display: inline-block;
				background: $white;
				border: 1px solid $main;
				border-radius: 0;
				position: relative;
				vertical-align: text-bottom;
				margin: 0 5px;
				&:after {
					content: '\f00c';
					font-family: 'fontAwesome';
					color: $main;
					background: transparent;
					font-size: 18px;
					margin: 0;
					display: none;
				}
			}
			input[type="radio"]:checked + .radio:after {display: block;}
			label {font-size: 18px;}
			.btn {
				background: $main;
				margin-top: 20px;
			}
		}
	}

	// @include breakpoint(tablet) {
	
	// }
	// @include breakpoint(tablet-wide) {
	
	// }
	// @include breakpoint(mobile) {
		
	// }
	// @include breakpoint(over) {
		
	// }
}