.profile {
	@extend %clearfix;
	.profile-pic {
		width: 100px;
		height: 100px;
		overflow: hidden;
		margin: 0 auto;
		border-radius: 50%;
		img {
			min-width: 150%;
			margin-left: -25%;
		}
	}

	table {
		width: 70%;
		margin: 20px auto;
		position: relative;
		tr {
			td {
				padding: 2px 8px;
				img {
					width: 28px;
				}
				p {
					font-size: 18px;
				}
			}
		}
		&:after {
			content: '';
			position: absolute;
			width: 2px;
			height: 100%;
			background: $main;
			top: 0;
			left: 40px;
		}
	}

	@include breakpoint(tablet) {
	
	}
	@include breakpoint(tablet-wide) {
	
	}
	@include breakpoint(mobile) {
		
	}
	@include breakpoint(over) {
		
	}
}