.profile {
	@extend %clearfix;
	.profile-pic {
		width: 100px;
		height: 100px;
		overflow: hidden;
		margin: 0 auto;
		border-radius: 50%;
		img {
			min-width: 150%;
			margin-left: -25%;
		}
	}

	
	@include breakpoint(tablet) {
	
	}
	@include breakpoint(tablet-wide) {
	
	}
	@include breakpoint(mobile) {
		
	}
	@include breakpoint(over) {
		
	}
}